<form method="post" action="{{ path('methode_paiment_delete', {'id': methode_paiment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ methode_paiment.id) }}">
    <button class="btn">Delete</button>
</form>
