<form method="post" action="{{ path('demande_contart_delete', {'id': demande_contart.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demande_contart.id) }}">
    <button class="btn">Delete</button>
</form>
