{% extends 'base-back.html.twig' %}

{% block title %}New Contrat{% endblock %}

{% block body %}
    <h1>Approve  Contrat</h1>

    {{ include('contrat/_form.html.twig') }}

    <a href="{{ path('contrat_index') }}">back to list</a>
{% endblock %}
