{% extends 'base-front.html.twig' %}

{% block body %}
    <h1>Create new Voiture</h1>

    {{ include('voiture/_form.html.twig') }}

    <a href="{{ path('voiture_index') }}" class="btn btn-info">back to list</a>
{% endblock %}
